h2 {
        color:white;
        font-family: helvetica neue;
        letter-spacing: 2px;
        font-weight: 100;
}

body {
    background-color: #444;
}

.title {
    text-align: right;
    padding-right: 10px;
    color: white;
    font-size: 3em;
    font-family: helvetica neue;
    font-weight: 200;
    line-height: 0.8em;
    padding-top: 14px;
    padding-bottom:20px;
}

.subtitle {
    font-size: 0.5em;
    font-weight: 600;
}

.bank {}

.pane {
    font-size: 1.2em;
    color: white;
    font-family: helvetica-light;
    height: 40px;
}

.lane {
    height: 40px;
    padding-right: 10px;
}

.loan {
    background-color: #673ab6;
    -webkit-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
}

.loan > .me {
    background-color: #4f2c99;
}

.payment {
    background-color: #f03529;
    -webkit-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
}

.payment > .me {
    background-color: #c61818;
}

.saving {
    background-color: #ffc500;
    -webkit-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 20px -4px rgba(0, 0, 0, 0.75);
}

.saving > .me {
    background-color: #ffb400;
}

.preamble {
    position: relative;
    top: 30px;
}

.switch label {
    color: #e4f1d6;
}

.headerpadding {
    padding-top: 60px;
}

#logo {
    position: absolute;
    background-image: url(../img/seb_logo_altgreen.jpg);
    background-repeat: no-repeat;
    width: 186px;
    height: 150px;
    right: 0px;
    z-index: 2;
}

.greenfield .byline {
    background-color: #b4583f;
}

.sectionputty {
    position: relative;
    z-index: 1;
}

p {
    font-size: 1.25em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.chart {
    position: absolute;
}
